*.swp
*~
.DS_Store
.idea/**/*
icasus/app_code/app_config.php
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/sabre-vobject/nbproject/private/
/PhpProject1/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/icasus/private_upload/