/* -------------------------------------------------------------------------------------
 Proyecto Icasus  
 Archivo: main.css
 Desarrollador: Juanan Ruiz - juanan@us.es - http://wikijuanan.com/
----------------------------------------------------------------------------------------
 Descripcion: Hoja de estilo del theme usevilla
----------------------------------------------------------------------------------------*/

/* -- Colocación de los contenedores o div -- */

body {
	background: #fffee9 url(Hemerocallis_japonica.png) fixed ;
	margin: 0;
	padding: 0;
	font: medium arial, sans-serif;
	color: #444;
	}
	
#wrap {
	text-align: left;
	width: 900px;
	margin: 20px auto;
	border: solid 1px #999;
	padding: 0;
	background: #fff; 
	}	

#cabecera {
	position: top;
	border-bottom: dashed 1px #aaa;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 10px 0 0 0;
	}

#principal {
	}

#contenido {
    margin-left:150px;
	padding: 0px 15px;
	font-size: small;
	}

#menu {
	float:left;
	width: 150px;
	padding: 0px 5px;
	font-size: small;
	}

#footer
	{
	clear: both;
	background: #fff;
	height: 3.5em;
	}
	
/* -- Propiedades generales para etiquetas básicas -- */

img { border: none; }

a	{
	color: #07a;
	text-decoration: none;
	outline: none;
	}
	
a:hover { color: #d60; }

h1	{
	color: #07a;
	font:large arial, sans-serif;
	margin-top: 10px;
	margin-bottom: 2px;
	padding:0;
	}

h2	{
	color: #333;
	font: large arial, sans-serif;
	margin-top:10px;
	margin-bottom: 2px;
	padding:0;
	}

h3	{
	color: #333;
	font: medium arial, sans-serif;
    font-weight: bold;
	margin: 1em 0 0.5em 0;
	}
	 
ul li a {
	padding-left: 12px;
	/*background: transparent url(arrow.gif) no-repeat 0 60%;*/
	}

table {
	margin: 0.5em 0 1em 0;
	border:1px;
	}

td, th {
	text-align: left;
	font-size: small;
	border: 1px;
	background: #eee;
	padding: 0.2em 0.5em;
	}

th	{
	border: solid 1px #07a;
	background: #f90;
	background: #fff;
	font-weight: 900;
	color:#000;
	}

/* -- Propiedades específicas --*/
p.aviso {
    color: blue;
	background: #eef url(iconos/information.gif) no-repeat 3px 3px;
    padding:3px;
	padding-left: 25px;
    margin-right: 100px;
	border: 1px dashed blue;
    }

p.error {
    color: red;
	background: #fdd url(iconos/cancel.gif) no-repeat 5px 9px;
    padding:10px;
	padding-left: 30px;
    margin-right: 100px;
	border: 1px dashed red;
    }

p.noticia {
    color: #444;
	background: #eee url(iconos/newspaper.png) no-repeat 3px 3px;
    padding:5px;
	padding-left: 25px;
    margin-right: 100px;
	border: 1px solid #ccc;
    }

p.noticia span.fecha{
	font-weight:bold;
}

p.subtitulo	{
	/*border-bottom: 1px dashed #aaa;*/
	top: 0em;
	text-align: left;
	padding:0;
	margin:0;
	font: small, "trebuchet ms" verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;	
	}

#logo {
	padding: 0 20px;	
	float: left;
	background-color: white;
	}

#operario {
	float:right;
	margin: 20px;
	font-size: small;
	}

#menu ul {
	padding: 0;
	margin: 0 0 0.7em 0;
	list-style: none;
	}

#menu ul li h3 {
	font-size: small;
	font-weight: bold;
	background: #eee;
	}

#menu ul li a {
	padding-left: 0px;
	}

#logoicasus	{
	clear:both;
	/*position-top:170px;
	position-left:400px;*/
	border: none;
	}

.no {display: none;}

.grey { color: #aaa; }

#footer p {
	position: relative;
	border-top: 1px dashed #aaa;
	border-bottom: 2px solid #999;
	top: 0em;
	text-align: center;
	padding: 2.1em 0;
	font: x-small "trebuchet ms", verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #999;
	background: #eee;
	}

.marcosimple {
	border:1px solid #ddd; 
	padding-left:8px; 
	margin:4px;
}

/* -- Formularios -- */

form.datos {
	border: 1px dashed #c9c9c0;
	background: #f6f6f6;
	padding: 15px;
	}

form.datos p {
	margin-top:0;
	padding:0;
	}

form.datos input,
form.datos textarea,
form.datos select {
	border: 1px solid #ccb;
	background: #fff;
	font: 9px monaco, verdana, sans-serif;
	color: #443;
	padding: 3px;
	outline: none;
	}

form.datos input.inp,
form.datos textarea.inp,
form.datos select.inp {
	width: 570px;
	}

form.datos input.submit {
	border: 1px solid #aab;
	font: 12px arial, sans-serif;
	font-weight:bold;
	height: 30px;
	outline: none;
	}
	
form.mini {
	padding: 3px;
	width: 20em;
	border: 1px dashed #c9c9c0;
	background: #f6f6f6;
	}


#formlogin {
	width: 160px;
	border: 1px dashed #c9c9c0;
	background: #f6f6f6;
	padding: 10px;
	}

#formlogin input.inp {
	width: 150px;
	border: 1px solid #ccb;
	background: #fff;
	font: 11px monaco, verdana, sans-serif;
	color: #443;
	margin: 1px 3px 8px 0px;
	outline: none;
	}
/* -- Formularios actas -- */
div.datos_acta {
	width: 90%;
	margin-top:10px;
	margin-bottom:10px;
	}
div.datos_acta {
        border: 1px dashed #c9c9c0;
        background: #f6f6f6;
        padding: 15px;
        }

div.datos_acta p {
        margin-top:10px;
        padding:0;
        }

.datos_acta input,
form.datos_acta textarea,
form.datos_acta select {
        border: 1px solid #ccb;
        background: #fff;
        font: 9px monaco, verdana, sans-serif;
        color: #443;
        padding: 3px;
        outline: none;
        }

form.datos_acta input.inp,
form.datos_acta textarea.inp,
form.datos_acta select.inp {
        width: 570px;
        }
.estilo1_acta {margin:20px;border:1px dotted #07a;width:95%}	
.estilo1_input {width:10em}	
