<?php

//---------------------------------------------------------------------------------------------------
// Proyecto: Icasus 
// Archivo: app_config.php
// Desarrolladores: Juanan Ruiz (juanan@us.es), Jesus Martin Corredera (jjmc@us.es),
// Joaquín Valonero Zaera (tecnibus1@us.es)
//---------------------------------------------------------------------------------------------------
// Variables globales para la apliación Icasus
// Modifica este archivo para que se ajuste a tus necesidades concretas
// Siempre que sea posible comienza el nombre de las constantes con IC_
//---------------------------------------------------------------------------------------------------

// Todas las constantes declaradas en este fichero empiezan 
// por IC (de icasus) para denotar su caracter global a toda la aplicación

//Conexion a la base de datos
define('IC_DB_HOST','localhost');//escriba la dirección del servidor de bases de datos (BD)
define('IC_DB_LOGIN','icasus'); //escriba el usuario de la BD.
define('IC_DB_CLAVE','tarrupa25b');//escriba la clave del usuario de la BD.
define('IC_DB_DATABASE','icasus');//escriba el nombre de la BD.

// Que tipo de autenticación va a utilizarse (login_sso ó login_basico).
// Escribir mantenimiento para abrir con la página de mantenimiento.
define('IC_TIPO_LOGIN','login_sso');

// Establece configuración SSO
//define('IC_SSO_METADATA', 'sso.us.es_003');
define('IC_SSO_METADATA', 'ssopre.us.es_003');


//Directorios
define('IC_DIR_BASE','/home/jjmc/www/icasus/icasus/');
//Si quiero comprobar login_sso contra el servidor de preproducción tengo que usar IP de la US
//define('IC_URL_BASE', 'https://193.147.179.246/icasus');

//Idioma base
define('IC_LANG_FILE','lang_es.php');
