.panel_flot {
  margin:10px;
}

.hidden {
  display: none;
}

.leyenda {
  border-top: 1px solid #D8DCDE;
  background: #EDF1F3;
  background: transparent;
  padding: 7px 4px;
  margin: 0px;
}

.leyenda p{
  color: #545454;
  font-size: 10px;
  line-height: 14px;
  }

.leyenda table {
  margin-bottom: 0;
}

.legendLabel {
  vertical-align: middle;
  padding-left: 4px;
}

.titulo-panel {
  background: #EDF1F3;
  padding: 2px 6px 2px;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #FFF;
  border-left: 1px solid #F8F8F8;
  border-right: 1px solid #F8F8F8;
  line-height: 24px;
  text-indent: 0px;
  text-shadow: 0 0 0 #FFF !important;
}

.pull-right {
  float: right;
}

.block > .section > ul.mediciones {
  list-style: none;
}

.block > .section > ul.mediciones > li {
  display: inline;
  margin: 10px;
  border: 0;
}
